background.py
background.ui
bg.bat
g.bat
g.py
g.ui
g_choose_country.bat
g_choose_country.py
g_choose_country.ui
g_enter_game.bat
g_enter_game.py
g_enter_game.ui
g_main_menu.py
g_main_menu.bat
g_main_menu.ui
g_pl_menu_plus_st_menu.py
g_player_menu.bat
g_player_menu.py
g_player_menu.ui
g_player_menu_plus_standart_menu.bat
g_player_menu_plus_stundart_menu.ui
g_st_menu.py
g_standart_menu.bat
g_standart_menu.ui
qt.py
.idea/workspace.xml
.idea/misc.xml
.idea/project.iml

